# IntelliJ
.idea/

*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.ruby-version
test.rb
*.dump.gz
ri_test.db
ri_test.db-journal
cooccurrence_results/**/*
extraction_results/**/*
expansion_results/**/*
.DS_Store
